h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

h2{
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: bold;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.tittle {
  background-color: #ff4c68;
}

.logo {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.imagenfront{
  width: 65%;
  -webkit-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -o-transform:rotate(25deg);
  transform: rotate(25deg);

}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2.5rem;
}

.container-fluid{
  padding: 3% 15%;
}

.downloadbtn{
  margin: 5% 3% 5% 0;
}

.properties-container{
padding: 7% 15%;
}

.properties-row{
  text-align: center;
}

.properties-img{
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #ef8172;
}

.properties-img:hover{
  color: #E53333
}

.properties-content{
  padding: 5%;
}

.properties-text{
  color: #8f8f8f;
  font-weight: normal;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 15px;
}

.carousel-item{
  padding: 7% 15%;
}

#testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: white;
}

#press{
    background-color: #ff4c68;
    padding-bottom: 3%;
    text-align: center;

}

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2;
}
